<a href="https://colab.research.google.com/github/kastrahl/Assessments/blob/main/Trade_Reporting_data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1
1. Exploratory Data Analysis and provide insight from the data: Conduct analysis on the dataset
to gather insights and generate relevant statistics.
2. Data Visualization: Create visualizations to present the results of the data analysis.
3. Reporting: Generate a summary report that presents the findings from the data analysis and
visualizations. Include key insights.

Approach
1. EDA



*   Import Libraries and Load Dataset
*   Check for Missing Values
*   Visualizing the Missing Values
*   Replacing the Missing Values
*   Asking Analytical Questions and Visualizations

Load the dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
url = "https://raw.githubusercontent.com/malikjb35/pythonTest/main/Testdata.csv"
df = pd.read_csv(url)
print(df.head())

cols=['tradeId','regulator','version','assetClass','clDateTime','clStatus','cflag','eFlag','cDateTime','method','rate','expirationDate','eventT','mType','Timestamp','quantity','seller','endDate','sType','Product','price','terminationDate','party','PartyId','transactionType','Reporting Status']
df.columns=cols

Exploratory Data Analysis <br>
Summary statistics

In [ ]:
df.head(5)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tradeId           50000 non-null  int64
 1   regulator         50000 non-null  object
 2   version           50000 non-null  int64
 3   assetClass        50000 non-null  object
 4   clDateTime        50000 non-null  object
 5   clStatus          50000 non-null  bool
 6   cflag             50000 non-null  object
 7   eFlag             50000 non-null  bool
 8   cDateTime         50000 non-null  object
 9   method            50000 non-null  object
 10  rate              50000 non-null  float64
 11  expirationDate    50000 non-null  object
 12  eventT            50000 non-null  object
 13  mType             50000 non-null  object
 14  Timestamp         50000 non-null  object
 15  quantity          50000 non-null  object
 16  seller            50000 non-null  object
 17  endDate           50000 non-null  object
 18  sType             50000 non-null  object
 19  Product           50000 non-null  object
 20  price             15014 non-null  float64
 21  terminationDate   43791 non-null  object
 22  party             50000 non-null  object
 23  PartyId           50000 non-null  int64
 24  transactionType   50000 non-null  object
 25  Reporting Status  50000 non-null  object
dtypes: bool(2), float64(2), int64(3), object(19)
memory usage: 9.3+ MB
None

In [ ]:
print(df.describe())

            tradeId       version          rate          price       PartyId
count  50000.000000  50000.000000  50000.000000   15014.000000  50000.000000
mean   25000.500000      4.991940   4985.640510  502292.898972      3.163600
std    14433.901067      2.593339   2892.605229  288205.734165      1.342919
min        1.000000      1.000000      0.630700     108.503208      1.000000
25%    12500.750000      3.000000   2473.364300  253646.139675      2.000000
50%    25000.500000      5.000000   4988.018500  501724.834200      3.000000
75%    37500.250000      7.000000   7484.013200  751081.198725      4.000000
max    50000.000000      9.000000   9999.865100  999940.821500      5.000000

In [1]:
print(df.isnull().sum())

summary_stats = df.describe()

NameError: name 'df' is not defined

Data Visualization  <br>
Histogram of numerical features

In [ ]:
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
for feature in numerical_features:
    plt.figure(figsize=(8, 6))
    sns.histplot(df[feature], kde=True)
    plt.title(f'Histogram of {feature}')
    plt.xlabel(feature)
    plt.ylabel('Frequency')
    plt.show()

Boxplot of numerical features

In [ ]:
for feature in numerical_features:
    plt.figure(figsize=(8, 6))
    sns.boxplot(y=df[feature])
    plt.title(f'Boxplot of {feature}')
    plt.ylabel(feature)
    plt.show()

# Reporting
print(summary_stats)
# Additional insights based on the analysis